ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
}

.currentPage {
    background-color: #6699cc;

}

li:hover{
   background-color: lightblue;
}


input:focus {
background-color: green;
color: black;
font-size: 20px;        

}



.first-link:hover {
    color: lightblue;
    font-weight: bold;
}

.second-link:active {
color: red;
font-style: italic;
}

.third-link:visited {
    color: yellow;
   
}

input:focus{
color: black;
font-size: 20px;
}
